
root { 
    display: block;
}

#botonAyuda{
    
    -fx-background-color:
        linear-gradient(#0D6ABF, #0D6ABF),
        linear-gradient(#0D6ABF 0%, #0D6ABF 50%, #0D6ABF 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 20;
    -fx-background-insets: 0,1,1,2,0;
    -fx-padding: 04 8 04 8;
   
}
#botonAyuda:hover{
    
    -fx-background-color:
    linear-gradient(#0D6ABF 0%, #0D6ABF 50%, #6CA9DF 100%) 
}

#barraCabecera{
    
     -fx-background-color: #5982AA,
        linear-gradient(#5982AA, #5982AA),
        linear-gradient(#FFF, #5982AA);  
}

#botonBorrarBusqueda{
    
    -fx-background-image: url("../Imagenes/Borrar.png");
    -fx-background-position:center;
    -fx-background-repeat:no-repeat;
    -fx-background-color:transparent;
}

#campoBusqueda {
    
-fx-padding: 0px 155px 0px 5px;
    
}

.botonMenos {
    
    -fx-background-image: url("../Imagenes/Menos.png");
    -fx-background-position:center;
    -fx-background-repeat:no-repeat;
    -fx-background-color:transparent;
      
}

.botonBuscar {
    
    -fx-background-image: url("../Imagenes/Buscar.png");
    -fx-background-position:center;
    -fx-background-repeat:no-repeat;
    -fx-background-color:transparent;
}

.botonMenos:hover {
    
     -fx-background-color:#9A9A9A;
     -fx-background-radius: 24px;
     -fx-background-insets: 0,1,2,3,0;
     
}

.botonBuscar:hover{
    
    -fx-background-color:#9A9A9A;
    -fx-background-radius: 24px;
}

.resultado{
   
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
      -fx-background-radius: 5px;   
}

.estiloBoton {
    -fx-background-color:#000000,
       linear-gradient(#7ebcea, #2f4b8f),
       linear-gradient(#426ab7, #263e75),
       linear-gradient(#395cab, #223768);
   -fx-background-insets: 0,1,2,3;
   -fx-background-radius: 3,2,2,2;
   -fx-padding: 12 30 12 30;
   -fx-text-fill: white;
   -fx-font-size: 14;    
   -fx-font-family: "System";
   -fx-text-fill: linear-gradient(white, #d0d0d0);
   -fx-padding: 10 20 10 20;
}